@charset "UTF-8";

.estilo {
  border: solid 2px black;
  box-shadow: 4px 4px black;
  padding: 20px;
  margin: 20px;
}

.estilo-exemplos {
  border: solid 2px black;
  padding: 20px;
  margin: 20px;
}

img {
  height: 200px;
  border: solid 2px black;
}

#display-none {
  display: none;
}

#display-inline {
  display: inline;
  text-align: end;
}

#display-block {
  display: block;
}

#display-inline-block {
  display: inline-block;
  padding: 20px;
  margin: 20px;
}

#display-list-item {
  display: list-item;
  list-style-type: square;
  margin-left: 2em;
}

#centro-perfeito {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  height: 150px; /* adjust to control the size */
  aspect-ratio: 1;
  --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
  mask-border: var(--_m);
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  background: #cc333f;
}
/* fallback until better support for mask-border */
@supports not (-webkit-mask-box-image: var(--_m)) {
  .heart {
    mask: radial-gradient(at 70% 31%, #000 29%, #0000 30%),
      radial-gradient(at 30% 31%, #000 29%, #0000 30%),
      conic-gradient(#000 0 0) bottom/100% 50% no-repeat;
  }
}

.arrow {
  --t: 45%; /* control the tail part */
  --h: 40%; /* control the head part */

  aspect-ratio: 3/2;
  width: 150px;
  background: #033649;
  clip-path: polygon(
    0 calc(50% - var(--t) / 2),
    calc(100% - var(--h)) calc(50% - var(--t) / 2),
    calc(100% - var(--h)) 0,
    100% 50%,
    calc(100% - var(--h)) 100%,
    calc(100% - var(--h)) calc(50% + var(--t) / 2),
    0 calc(50% + var(--t) / 2)
  );
  transform: rotate(45deg);
}

.button {
  transform: translateY(0);
}

.button:hover {
  transform: translateY(5px);
}

p.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
