.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --s: 1em; /* the ribbon size */
  --d: 0.2em; /* the depth */
  --c: 0.2em; /* the cutout part */

  padding: 0 calc(var(--s) + 0.5em) var(--d);
  line-height: 1.8;
  background: conic-gradient(
        at left var(--s) bottom var(--d),
        #0000 25%,
        #0008 0 37.5%,
        #0004 0
      )
      0 /50% 100% no-repeat,
    conic-gradient(
        at right var(--s) bottom var(--d),
        #0004 62.5%,
        #0008 0 75%,
        #0000 0
      )
      100%/50% 100% no-repeat;
  clip-path: polygon(
    0 var(--d),
    var(--s) var(--d),
    var(--s) 0,
    calc(100% - var(--s)) 0,
    calc(100% - var(--s)) var(--d),
    100% var(--d),
    calc(100% - var(--c)) calc(50% + var(--d) / 2),
    100% 100%,
    calc(100% - var(--s) - var(--d)) 100%,
    calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) 100%,
    0 100%,
    var(--c) calc(50% + var(--d) / 2)
  );
  background-color: #cd333f; /* the main color */
  width: fit-content;
  transform: rotate(-5deg);
  display: inline-block;
  margin-bottom: 1rem;
}

p.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.container {
  background-color: rgb(102, 127, 157);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  gap: 1.25rem;
}

.display-flex {
  display: flex;
  height: row auto;
  height: fit-content;
  width: fit-content;
  gap: 1rem;
}

.card {
  background-color: rgb(93, 110, 128);
  border: solid 2px white;
  padding: 1rem;
  text-align: center;
}

.font-small {
  font-size: x-small;
}
