@charset "UTF-8";

body {
  background-color: white;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

h1 {
  text-align: center;
}

.estilo {
  background-color: white;
  color: black;
  border: solid 2px black;
  box-shadow: 4px 4px black;
  padding: 20px;
  margin: 20px;
}

img {
  height: 200px;
  border: solid 2px black;
}
